$white: #fff;
$black: #000;
$dark: #17191f;
$light: #f0f1f3;
$border: #a4a4a4;
$lt_border: #efefef;
$dk_border: #9a9a9a;
$text: #4d4c4c;

$head: #4a5460;
$bg: #b2b9c1;
$btn: #f9690e;
$btn_hover: #ee6309;
$pink: #fde4db;
$pink_dark: #f9bba5;


$padding: 50px;



