//=================================================
//--------------------------             body lines
//=================================================

#body01 {
  stroke-dasharray: 8934;
  stroke-dashoffset: 8934;
  animation: body1 15s linear 14s alternate forwards;
}

@keyframes body1 {
  from {
    stroke-dashoffset: 8934;
  }
  to {
    stroke-dashoffset: 0;
  }
}


// =================================================
//--------------------------             hand lines
//=================================================

#hand01 {
  stroke-dasharray: 1766;
  stroke-dashoffset: 1766;
  animation: dash1 5s linear 2s alternate forwards;
}
#hand02 {
  stroke-dasharray: 4127;
  stroke-dashoffset: 4127;
  animation: dash2 5s linear 4.3s alternate forwards;
}


@keyframes dash1 {
  from {
    stroke-dashoffset: 1766;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash2 {
  from {
    stroke-dashoffset: 4127;
  }
  to {
    stroke-dashoffset: 0;
  }
}


//=================================================
//--------------------------            simple line
//=================================================

@keyframes line_show {
  to {  opacity: 1  }
}
@keyframes line_hide {
  to {  opacity: 0  }
}

#line01 {
  stroke-dasharray: 58;
  stroke-dashoffset: 58;
  animation: line01 5s linear alternate forwards, line_hide 2s linear 5s alternate forwards;
}
#line02 {
  stroke-dasharray: 486;
  stroke-dashoffset: 486;
  animation: line02 5s linear alternate forwards, line_hide 2s linear 5s alternate forwards;
}
@keyframes line01 {
  from {  stroke-dashoffset: 58;  }
  to {  stroke-dashoffset: 0;  }
}
@keyframes line02 {
  from {  stroke-dashoffset: 486;  }
  to {  stroke-dashoffset: 972;  }
}

#line11 {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: line11 5s linear alternate forwards, line_hide 2s linear 5s alternate forwards;
}
#line12 {
  stroke-dasharray: 344;
  stroke-dashoffset: 344;
  animation: line12 5s linear alternate forwards, line_hide 2s linear 5s alternate forwards;
}
@keyframes line11 {
  from {  stroke-dashoffset: 201;  }
  to {  stroke-dashoffset: 0;  }
}
@keyframes line12 {
  from {  stroke-dashoffset: 344;  }
  to {  stroke-dashoffset: 688;  }
}

#line21 {
  stroke-dasharray: 631;
  stroke-dashoffset: 631;
  animation: line21 5s linear alternate forwards, line_hide 2s linear 5s alternate forwards;
}
#line22 {
  stroke-dasharray: 678;
  stroke-dashoffset: 678;
  animation: line22 5s linear alternate forwards, line_hide 5s linear 15s alternate forwards;
}
#line23 {
  stroke-dasharray: 631;
  stroke-dashoffset: 631;
  animation: line21 5s linear alternate forwards, line_hide 2s linear 5s alternate forwards;
}
@keyframes line21 {
  from {  stroke-dashoffset: 631;  }
  to {  stroke-dashoffset: 0;  }
}
@keyframes line22 {
  from {  stroke-dashoffset: 678;  }
  to {  stroke-dashoffset: 1356;  }
}

#rectangle01 {
  transform: translate3d(0,0,0);
  will-change: transform;
  transform-origin: left bottom;
  opacity: 0;
  animation: line_show 2s linear 5s alternate forwards, rectangle_def 10s linear 12s alternate forwards;
}

@keyframes rectangle_def {
  to {
    transform: scaleY(0.8887) scaleX(1.0303) translateX(-1%);
  }
}



//=================================================
//--------------------------          triangle line
//=================================================

@keyframes triangle_hide {
  to {  opacity: 0  }
}
#triangle01 {
  stroke-dasharray: 164;
  stroke-dashoffset: 164;
  animation: triangle01 5s linear alternate forwards, triangle_hide 5s linear 12s alternate forwards;
}
#triangle02 {
  stroke-dasharray: 557;
  stroke-dashoffset: 557;
  animation: triangle02 5s linear alternate forwards, triangle_hide 5s linear 12s alternate forwards;
}
@keyframes triangle01 {
  from {  stroke-dashoffset: 164;  }
  to {  stroke-dashoffset: 0;  }
}
@keyframes triangle02 {
  from {  stroke-dashoffset: 557;  }
  to {  stroke-dashoffset: 1114;  }
}
#triangle11 {
  stroke-dasharray: 484;
  stroke-dashoffset: 484;
  animation: triangle11 5s linear alternate forwards, triangle_hide 5s linear 12s alternate forwards;
}
#triangle12 {
  stroke-dasharray: 256;
  stroke-dashoffset: 256;
  animation: triangle12 5s linear alternate forwards, triangle_hide 5s linear 12s alternate forwards;
}
@keyframes triangle11 {
  from {  stroke-dashoffset: 484;  }
  to {  stroke-dashoffset: 0;  }
}
@keyframes triangle12 {
  from {  stroke-dashoffset: 256;  }
  to {  stroke-dashoffset: 512;  }
}

//=================================================
//--------------------------                circles
//=================================================

#circle01 {
  stroke-dasharray: 269;
  stroke-dashoffset: 269;
  animation: circle01 5s linear alternate forwards, circle_hide 2s linear 5s alternate forwards;
}
#circle02 {
  stroke-dasharray: 655;
  stroke-dashoffset: 655;
  animation: circle02 5s linear alternate forwards, circle_hide 2s linear 5s alternate forwards;
}
#circle03 {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: circle03 5s linear alternate forwards, circle_hide 2s linear 5s alternate forwards;
}
#circle04 {
  stroke-dasharray: 759;
  stroke-dashoffset: 759;
  animation: circle04 5s linear alternate forwards, circle_hide 2s linear 5s alternate forwards;
}

@keyframes circle01 {
  from {  stroke-dashoffset: 269;  }
  to {  stroke-dashoffset: 0;  }
}
@keyframes circle02 {
  from {  stroke-dashoffset: 655;  }
  to {  stroke-dashoffset: 1308;  }
}
@keyframes circle03 {
  from {  stroke-dashoffset: 300;  }
  to {  stroke-dashoffset: 0;  }
}
@keyframes circle04 {
  from {  stroke-dashoffset: 759;  }
  to {  stroke-dashoffset: 1520;  }
}
@keyframes circle_hide {
  to {  opacity: 0  }
}
@keyframes circle_show {
  to {  opacity: 1  }
}

#circle_full {
  opacity: 0;
  animation: circle_show 2s linear 5s alternate forwards, circle_full 5s linear 12s alternate forwards;
}

@keyframes circle_full {
  to {  cx: 338.99; cy: 341.25; r: 338.74; }
}